.App {
    background-color: #a1c298;
    display: flex;
}

.container {
    width: 350px;
    height: 500px;
    background-color: #ededed;
    border-radius: 1.5rem;
    margin: auto;
    padding: 1.6rem;
}

.btn_wrap {
    display: flex;
}

.btn {
    background-color: #2146c7;
    color: white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    cursor: pointer;
}

.btn_warn {
    background-color: #e14d2a;
}
